@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>The current server time is: @Model.CurrentDateTime.ToString()</h1>

    <h2>Welcome to MonIT, the Server Monitoring Solution.</h2>
</div>
