@using CarInsurance.ViewModels
@model List<InsureeVM>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-6 my-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Quote</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">E-mail Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var insureeVM in Model)
                {
                    <tr>
                        <th scope="row">@String.Format("{0:C2}", insureeVM.Quote)</th>
                        <td>@insureeVM.FirstName</td>
                        <td>@insureeVM.LastName</td>
                        <td>@insureeVM.EmailAddress</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
